<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="DevBooks"/>
        <meta name="author" content="CodeCouple"/>
        <title>DevBooks</title>

        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
        <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    </head>
    <body>
        <div class="container">
            <div layout:fragment="content"></div>
        </div>

        <footer class="footer">
            <div class="container">
                <p class="text-muted text-center">&copy; 2016 DevBooks By Krzysztof Chruściel</p>
            </div>
        </footer>

    </body>
</html>